.row {
    margin: 16px;
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: start;
    justify-items: stretch;
    align-items: center;
}

.dragIcon {
    min-width: 24px;
    min-height: 24px;
}

.burgerComponent {
    padding: 16px 32px;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 500px;

}

.name {
    composes: text text_type_main-default from global;
    font-size: 16px;
    line-height: 1.2;
}

.price {
    composes: text text_type_digits-default from global;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

.image {
    width: 80px;
    height: 40px;
    margin: 0px 20px;
}