.burgerComponent {
    padding: 16px 32px 16px 24px;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    margin-left: 32px;
    margin-right: 16px;
}

.topBun {
    composes: burgerComponent;
    border-radius: 200px 200px 50px 50px;
}

.bottomBun {
    composes: burgerComponent;
    border-radius: 50px 50px 200px 200px;
}

.componentContainer {
    max-height: 500px; 
    overflow-y: scroll;
    
}

@media (max-width: 768px) {
    .ingredientsContainer {
        max-height: 300px;
    }
}

@media (min-width: 1024px) {
    .ingredientsContainer {
        max-height: 500px;
    }
}

.name {
    composes: text text_type_main-default from global;
    font-size: 16px;
    line-height: 1.2;
}

.price {
    composes: text text_type_digits-default from global;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

.image {
    width: 80px;
    height: 40px;
    margin: 0px 20px;
}