.card {
    border-radius: 8px;
    width: 272px;
    height: 208;
    text-align: center;
    gap: 32px;
    border: 1px;
    position: relative;
}

.counter {
    width: 32px;
    z-index: 1;
    position: absolute;
    padding: 0;
}

.image {
    margin-left: 16px;
    margin-right: 16px;
}

.price {
    composes: text text_type_digits-default from global;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.priceIcon {
    margin-left: 8px;
    width: 24px;
    height: 24px;
}

.name {
    composes: text text_type_main-default from global;
    font-size: 16px;
    line-height: 1.2;
}

.link {
   text-decoration: none;
   color: var(--text-primary-color) 
}