.statsContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.orderBoard {
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.ordersDone {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.ordersInWork {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.columnName {
    composes: text text_type_main-medium from global;
}

.idOrderDone {
    composes: text text_type_digits-default from global;
    color: var(--colors-interface-success);
}

.idOrderInWork {
    composes: text text_type_digits-default from global;
}

.completed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.completedOrders {
    text-shadow: 
        0px 4px 32px rgba(51, 51, 255, 0.5),
        0px 0px 8px rgba(51, 51, 255, 0.25);
    composes: text text_type_digits-large from global;
}
