.title {
    composes: text_type_main-large from global;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: start;
}

.ingredientsContainer {
    flex-grow: 1;
    overflow-y: auto;
    height: 70vh;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 33%;
    min-height: 33%;
}