.title {
    composes: text text_type_main-large from global;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: start;
}

.ingredientsContainer {
    flex-grow: 1;
    overflow-y: auto;
    height: 35%;
}
