header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 10%;
}


.nav {
  grid-column-start: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.logo {
  grid-column-start: 2;
  display: flex;
  justify-self: center;
}

.account {
  grid-column-start: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.burgerConstructor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}